@font-face {
	font-family: 'icomoon';
	src:url('static/fonts/icomoon.eot');
	src:url('static/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('static/fonts/icomoon.woff') format('woff'),
		url('static/fonts/icomoon.ttf') format('truetype'),
		url('static/fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


body
{
	background: lightgrey url("http://d36xtkk24g8jdx.cloudfront.net/bluebar/411ae8f/images/shared/noise-2.png") ;
	color: black;
	font-size: 16px;
	font-family: 'Headland One', serif;
}

footer
{
	background: #434343;
	color: #A7A7A7;
	font-size: .6em;
	padding: 1em 0;
	text-align: center;
	width: 100%;
}

footer p 
{
	margin: 0;
}

footer #cont_social
{
	display: inline-block;
}

footer #cont_social a
{
	color: white;
	margin: 0 0 0 1em;
}

footer #cont_social #twitter,
footer #cont_social #facebook,
footer #cont_social #google_plus
{
	color: lightgrey;
	font-size: 3em;
	text-decoration: none;
}

footer #cont_social #twitter:after
{
	content: "\e005";
}
footer #cont_social #facebook:after
{
	content: "\e006";
}
footer #cont_social #google_plus:after
{
	content: "\e007";
}

/*lorent ipsum*/

header 
{
	display: block;
	height: 43px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1232;
}

header nav
{
	background: #434343;
	top: 0;
}

header nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
header nav ul li 
{
	display: inline-block;
	margin: 0 0em 0 0;
	vertical-align: top;
}
header nav ul li a 
{
	color: lightgrey;
	display: block;
	padding: 0.5em 1em;
	text-align: center;
	text-decoration: none;
}
nav ul #home
{
	float: left;
	text-align: center;
	width: 5em;
	position: relative;
}
nav ul #home figcaption
{
	color: lightgrey;
	float: right;
	height: 100%;
	line-height: 225%;
	position: absolute;
	right: 10px;
	top: 0;
}
nav ul #home figcaption:after
{
	content: "\e002";
}
nav ul #lupa
{
	float: right;	
	text-align: center;
	width: 3em;
}

nav #lupa a:after,
nav #home a:after,
footer #cont_social #twitter:after,
footer #cont_social #google_plus:after,
footer #cont_social #facebook:after,
nav ul #home figcaption:after
{
	font-family: "icomoon";
}

nav #home a:after
{
	content: "\e000";
}

nav #lupa a:after
{
	content: "\e004";
}

#contenido
{
	
	height: 100%;
	margin: 1em;
}

#contenido #pub_del_dia
{
	text-align: center;
}

#contenido .item
{
	background: #C7C2BE url("http://d36xtkk24g8jdx.cloudfront.net/bluebar/411ae8f/images/shared/noise-1.png");
	box-shadow: 0px 3px 5px rgba(8,8,8,.5);
	border-radius: 4px;
	margin: 0 0 3em 0;
	padding: 1em;
	position: relative;
}

#contenido .item .contenido_item
{
	text-align: justify;
}

#contenido .item .imagen_item
{
	float: left;
	margin: 0 1em 0 0;
}

#contenido .item .imagen_item img
{
	border-radius: 100%;
	height: 100px;
}

#contenido .item .titulo_item
{
	text-align: justify;
	text-transform: capitalize;
}

#menuMoviles
{
	background: grey url("http://d36xtkk24g8jdx.cloudfront.net/bluebar/411ae8f/images/shared/noise-2.png");
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 36px;
	width: 50%;
	z-index: 10000;
	box-shadow: 8px 3px 5px rgba(8,8,8,.5);
}

#menuMoviles ul
{
	list-style: none;
	position: relative;
	margin: 10% 0 0 0;
	padding: 0;
}

#menuMoviles ul li
{
	background: rgba(199,194,190,.9) url("http://d36xtkk24g8jdx.cloudfront.net/bluebar/411ae8f/images/shared/noise-1.png");
	box-shadow: 0px 4px 25px 0px rgba(8,8,8,.5);
	width: 95%;
	height: 100%;
	margin: 0 0 1em 2.5%;
	padding: 1em 0 1em 0;
	text-align: center;
}

#menuMoviles #cerrar
{
	margin: 0 0 3em 2.5%;
}













