{% extends 'base.html' %}

{% block contenido %}
<section id="contenido">
	<p id="pub_del_dia"><strong>Publicaciones del día: fecha</strong></p>
	<article class="item">
		<figure class="imagen_item">
			<img src="imagenes/miramar.jpg">
		</figure>
		<h2 class="titulo_item">
			 esto es una prueba para ver cuando
			 un título es muy largo
		</h2>
		<p class="contenido_item">
			Es un disco de tomates fritos bla bla bla bla bla bla bla bla bla bla bla bla
			lbla bla blagneikvnkdlz
		</p>
	</article>
</section>
{% endblock %}
