<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Publicaciones</title>
	<link rel="stylesheet" href="static/css/normalize.css">
	<link href='http://fonts.googleapis.com/css?family=Headland+One|Fauna+One' rel='stylesheet' type='text/css'></head>
	<link rel="stylesheet" href="static/css/estilos.css">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li id="home">
					<a></a>
					<figcaption href="#">
					</figcaption>
				</li>
				<li><a><strong>Blog de Eduardo</strong></a></li>
				<li id="lupa"><a href="#"></a></li>
			</ul>
		</nav>
	</header>
	<div id="menuMoviles">
		<ul>
			<li id="cerrar">
				<figcaption>
					*
				</figcaption>
			</li>
			<li href="/index.html"><strong>Home</strong></li>
			<li><strong>Publicaciones</strong></li>
			<li><strong>Acerca de</strong></li>
		</ul>		
	</div>
	<section>
		<article>
			
		</article>
	</section>
	<footer>
		<div id="cont_social">
			<a id="twitter" target="_blank" href="https://twitter.com/walis85300"></a>
			<a id="facebook" target="_blank" href="https://www.facebook.com/walis85300"></a>
			<a id="google_plus" target="_blank" href="https://plus.google.com/106710661741218256900/posts"></a>
		</div>
		<p>Todos los Derechos Reservados -2013- ®</p>
	</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="static/js/codigo.js"></script>
</body>
</html>